.App {
  text-align: center;
}

.body {
  background-color: #FBFBFD;
}
.body-height {
  // height: calc(100vh - 3rem);
  height: 100%;
}

.body-width {
  width: calc(100vw - 16.666667%);
}

.hl {
  background-color: azure;
}

.bdr {
  border: 1px solid #EBEEF5;
}

.profile-image {
  margin: 2em auto;

  .user-status {
    bottom: -1.5em;
    right: -0.5em;
    height: 6px;
    width: 5px;
  }
}

.sidebar-section-height {
  height: 200px;
}

.side-links {
  a:hover, a:active{
    color: #1E6ADA;
  }
}